---
import GitHub from '@icons/GitHub.astro';
import Angular from '@icons/Angular.astro';

export interface Props {
    title: string;
    description: string;
    url: string;
    image: string;
    github: string;
    techs: string[];
}
const {title, description, url, image, github, techs} = Astro.props;
---

<article class="grid grid-cols-1 rounded-2xl shadow-lg dark:shadow-slate-700 hover:shadow-2xl  transition duration-300">

    <img src={image} alt="Screenshot of the project" class="rounded-t-2xl m-0">

    <div class="p-8">
        <h3 class="font-bold text-2xl">{title}</h3>
        <p class="pt-3">{description}</p>
        <div class="mt-2">
            {
                techs.map((tech) => (
                    <span class="text-xs bg-gray-200 dark:bg-slate-700 text-gray-800 dark:text-gray-200 px-2 py-1 rounded-full mr-2">{tech}</span>
                ))
            }
        </div>
        <div class="flex justify-end items-center gap-x-2 mt-4">
            <a
                href={github}
                target="_blank"
                rel="noopener noreferrer"
                class="transition-transform duration-300 hover:scale-125"
            >
                    <GitHub class="w-6 h-6" />
            </a>
            <a 
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                title="Go to site"
                class="transition-transform duration-300 hover:scale-125"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>                  
            </a>
        </div>
    </div>

</article>